.log-in, .registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  transition: all .2s;

  &:hover {
    opacity: 1;
  }
}

.fading {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: black;
  opacity: .6;
}

.log-in-form {
  position: absolute;
  width: 300px;
  height: 220px;
  top: calc(50% - 110px);
  left: calc(50% - 150px);
  padding: 12px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 80px #1c1c1c;
  box-sizing: border-box;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
  }

  &__close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .2s;
    cursor: pointer;

    &--svg {
      width: 30px;
      height: 30px;
      transition: all .2s;

      &:hover {
        filter: brightness(250%);
      }
    }

    &:hover {
      background-color: hotpink;
    }
  }

  &__input {
    display: block;
    width: 276px;
    height: 40px;
    margin: 12px 0;
    border: 2px solid #9a9a9a;
    border-radius: 5px;
    padding: 0 7px;
    font-size: 19px;
    box-sizing: border-box;
    transition: all .3s;

    &::placeholder {
      color: #9a9a9a;
    }

    &:focus {
      outline: none;
      background-color: #ffe4f0;
      border: 2px solid hotpink;
      box-shadow: 0 0 10px #ffbee0;

      &::placeholder {
        color: #ff6db6;
      }
    }
  }

  &__input-error {
    border: 2px solid darkred;
    color: darkred;
    box-shadow: 0 0 10px darkred;
    background-color: red;

    &::placeholder {
      color: darkred;
    }
  }

  &__button-login {
    width: 110px;
    height: 40px;
    margin-right: 12px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: hotpink;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      box-shadow: 2px 2px 5px #9a9a9a;
      background-color: #ff14ac;
    }
  }

  &__button-registration {
    width: 154px;
    height: 40px;
    border: 2px solid hotpink;
    border-radius: 5px;
    color: hotpink;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      box-shadow: inset 0 0 8px #ff14ac;
      border: 2px solid #ff14ac;
      color: #ff14ac;
    }
  }
}

.registration-form {
  position: absolute;
  width: 300px;
  height: 376px;
  top: calc(50% - 188px);
  left: calc(50% - 150px);
  padding: 12px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 80px #1c1c1c;
  box-sizing: border-box;

  &__button-login {
    width: 80px;
    height: 40px;
    margin-left: 12px;
    font-size: 19px;
    border: 2px solid hotpink;
    border-radius: 5px;
    color: hotpink;
    background-color: white;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      box-shadow: inset 0 0 8px #ff14ac;
      border: 2px solid #ff14ac;
      color: #ff14ac;
    }
  }

  &__button-registration {
    width: 184px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    background-color: hotpink;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      box-shadow: 2px 2px 5px #9a9a9a;
      background-color: #ff14ac;
    }
  }
}

.form-message {
  position: absolute;
  bottom: 200px;
  color: white;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 1000;
  font-size: 40px;
  text-shadow: 4px 4px 1px black;
}